.banner-wrapper-home {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image-home {
    width: 100%;
    height: auto;
}

.banner-content-container-home {
    position: absolute;
    top: 20%;
    left: 0;
    right: 41%;
    max-width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 1024px) {
    .banner-content-container-home {
        right: 10%;
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .banner-content-container-home {
        right: 0;
        bottom: 0;
        left: 0;
        top: inherit;
        max-width: 80%;
        padding: 0.5rem;
    }
}

@media (max-width: 576px) {
    .banner-content-container-home {
        max-width: 90%;
        font-size: 0.875rem;
    }
}
