.custom-engagement-model {
    background-image: url('../../../../../public/images/cloudArchitechture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.engagement-card {
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.engagement-card svg {
    width: 60px;
    height: 60px;
}

.custom-engagement-model .row {
    margin-right: -15px;
    margin-left: -15px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.custom-hr-style {
    width: 80px;
    height: 4px;
    border: none;
    background-color: #fff;
    margin: 0 auto;
}
